* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 10px;   
}

@font-face {
    font-family: Roboto-Regular;
    src:url(asset/fonts/Roboto-Regular.ttf)
} 

h1 {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    letter-spacing: 4.5px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 7px;
}

h2 {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #373737;
    margin: 0 28px 13px 0px;
}

h3{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

   
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    color: #373737;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    min-height: 95px;
    background-color: #000000;
}

.header__navigation {
    width: 50%;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    
}

.navigation__item {
    list-style: none;
    position: relative; 
}
.navigation__link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 140%;

}


.navigation__item:nth-child(1){
    margin-right: 85px;
}
.navigation__item:nth-child(3){
    margin: 0 100px

}
.navigation__item:nth-child(5){
    margin-left: 85px;
}

.navigation__link_action::after {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    bottom: -2px;
    
}
.image_prev {
    position: relative;
    background-image: url(asset/img/bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 744px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}

.pres_text {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    text-align: center;
    padding-top: 12px;

}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 98px;
}
.button {
    width: 184px;
    height: 46px;
    background-color: #00AFDB;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 30px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    border-color:  #00AFDB;
}

.button:hover {
    background-color:#009CC2;
}
/*--------------------------------------------*/
.your_life__text-prev {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.your_life {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 140px;
}
.your_life__text-prev1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your_life__text {
    width: 407px;
    height: 80px;
}

.your_life__text p {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E
}

.img_your_life {
    padding-left: 265px
}

.button1 {
    margin-right: 227px;
    margin-top: 10px;
}

/*-------------------------------------------*/
.community_info-text {
    width: 298px;
    height: 80px;
}

.community_info-text p {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    align-items: flex-end;
    text-align: center;

    color: #4E4E4E;
    }

    .community {
        position: relative;
        padding-top: 120px;
        padding-bottom: 140px;
        background-color: #F5F6F7;
    }


.community {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slidet-item {
    display: flex;
    overflow: hidden;
    
}

.community_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comuniry_slider {
    position: absolute;
   
    font-size: 1.8rem;
    color: #373737;
    top: 87px;
    right: 318px;
}

.community_all {
    padding-left: 176px;
}

.slider-items {
    margin-left: 30px;
}

.slider-items:nth-child(1){
    margin-left: 133px;
}

/*------------------------------------------------------------*/


.img_Implement {
    margin-right: 292px;
}

.Implement__text-title {
    margin-right: 111px;
}

/*------------------------------*/

.img_inp {
    position: relative;
    background-image: url(asset/img/5.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 524px;
    padding-top: 200px;
    padding-bottom: 219px;
}

.inp_1 {
    margin: 0 auto;
    max-width: 415px;
    text-align: center;
}

.form__input {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    width: 340px;
    padding: 14px 28px 12px 23px;
    outline: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
}

.btn-check {
    background: #00afdb;
    padding: 15px 23px 14px 24px;
    margin-left: -4px;
    border: none;
    outline: none;
}

.form-signup {
    box-sizing: inherit;
}








.download {
    min-height: 464px;
}

.footer {
    min-height: 185px;
    background-color: #000;
}
